<!-- About -->
<section class="w-full pt-30 sm:px-20 md:px-24 lg:px-30 2xl:px-40 flex flex-col items-center gap-10" id="contact">
    <h2 class="autoTranslate font-semibold text-4xl">Why You Should Hire Me?</h2>
    <!-- Text -->
     <article class="w-full flex flex-col items-start">
        <p class="autoTranslate text-xl mb-1">At this point, you might be asking yourself: “Why should I hire this guy?”</p>
        <p class="autoTranslate text-xl mb-1">And honestly, that’s a fair question — you don’t know me at all. So let me tell you a bit about my story.</p>
        <p class="autoTranslate text-xl mb-1">I didn’t grow up dreaming of becoming a web developer — but life has a way of surprising us.</p>
        <p class="autoTranslate text-xl mb-1">After studying Geomatics and Surveying Engineering and spending nearly eight years working in factories, I found something I hadn’t realized I was missing: the joy of building things people can actually use.</p>
        <p class="autoTranslate text-xl mb-1">That curiosity led me back to the world of code. What started as small HTML pages during university has grown into a real passion for frontend development.</p>
        <p class="autoTranslate text-xl mb-1">I’ve been learning by doing: building real projects, breaking things, fixing them, and understanding how everything works beneath the surface.</p>
        <p class="autoTranslate text-xl mb-1">Now, I work with modern tools to create clean, responsive, and user-focused interfaces.</p>
        <p class="autoTranslate text-xl mb-1">I’m not here to convince anyone or chase every opportunity. If you like what you see, we’ll probably work well together. If not, that’s okay too. There are plenty of good developers out there.</p>
        <p class="autoTranslate text-xl mb-1">I just build things I believe in — and I build them well.</p>
     </article>

</section>

<style>
    .autoTranslate{
        animation: autoTranslateAnimation;
        animation-timeline: view(50%);
    }

    @keyframes autoTranslateAnimation{
        from{
            opacity: 0;
            transform: translateX(200px) scale(0.3);
        } to{
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
</style>