<!-- Contact -->
<section class="w-full pt-30 sm:px-20 md:px-24 lg:px-30 2xl:px-40 flex flex-col items-center gap-10" id="contact">
    <h2 class="font-semibold text-4xl" data-en="Get in touch" data-es="Contactar"></h2>
    <!-- Form -->
    <form method="POST" id="form" class="w-full md:w-[500px] flex flex-col items-center gap-6 p-4">
        <input type="hidden" name="access_key" value="452f4fa4-5270-4463-8bbf-01ea5e2f0585">
        <input type="text" id="name" name="name" class="w-full bg-white text-blue-950 px-4 py-2 rounded-2xl hover:shadow-sm hover:shadow-amber-400 focus:border-2 focus:border-amber-200 cursor-pointer" placeholder="Jon Rahm" required>
        <input type="email" id="email" name="email" class="w-full bg-white text-blue-950 px-4 py-2 rounded-2xl hover:shadow-sm hover:shadow-amber-400 focus:border-2 focus:border-amber-200 cursor-pointer" placeholder="jonrahm@gmail.com" required>
        <textarea id="message" name="message" class="w-full bg-white text-blue-950 px-4 py-2 min-h-[100px] rounded-2xl hover:shadow-sm hover:shadow-amber-400 focus:border-2 focus:border-amber-200 cursor-pointer" placeholder="Write here your message..." required></textarea>        
        <button type="submit" class="w-full px-6 py-2 rounded-2xl text-black font-semibold bg-amber-200 hover:bg-amber-400 cursor-pointer" data-en="Send" data-es="Enviar"></button>
        <div id="result"></div>
    </form>
</section>

<!-- This JavaScript file was designed so the user can send a message and get a notification if something went wrong or run successfully -->
<script src="scripts/contactForm.js" defer></script>

<style>
    .autoTranslate{
        animation: autoTranslateAnimation both;
        animation-timeline: view(5% 0%);
    }

    @keyframes autoTranslateAnimation{
        from{
            opacity: 0;
            transform: translateX(200px) scale(0.3);
        } to{
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
</style>