<!-- Header -->
<header>
    <section class="header flex justify-between items-center w-full h-24">
        <!-- Logo -->
        <a href="#">
            <img src="icons/white_logo.svg" alt="" class="logo w-40 md:w-56">
        </a>
        <!-- Navigation -->
        <nav class="flex items-center gap-4 md:gap-8 xl:gap-12">
            <ul class="hidden md:flex md:gap-4 md:text-lg">
                <li><a href="#" class="hover:text-amber-200">Home</a></li>
                <li><a href="#projects" class="hover:text-amber-200">Projects</a></li>
                <li><a href="#skills" class="hover:text-amber-200">Skills</a></li>
                <li><a href="#contact"class="hover:text-amber-200">Contact</a></li>
            </ul>
            <!-- Mobile Navigation Button -->
            <button class="menuIconOpen md:hidden cursor-pointer">
                <img src="icons/menu_icon_white.svg" alt="" class="openMenu w-8 md:hidden">
            </button>
            <button class="menuIconClose hidden md:hidden cursor-pointer">
                <img src="icons/close.svg" alt="" class="closeMenu w-8 md:hidden">
            </button>
        </nav>
    </section>
    <!-- Mobile Menu -->
    <section class="menuItems hidden w-full h-[calc(100vh-theme(height.24))] p-10">
        <section class="flex flex-col items-center gap-6 w-full">
            <ul class="flex flex-col items-center gap-6 text-2xl font-semibold">
                <li><a href="#" class="item hover:text-amber-200">Home</a></li>
                <li><a href="#projects" class="item hover:text-amber-200">Projects</a></li>
                <li><a href="#skills" class="item hover:text-amber-200">Skills</a></li>
                <li><a href="#contact"class="item hover:text-amber-200">Contact</a></li>
            </ul>
            <a href="docs/Javier_Piedra_CV.pdf" download  class="resume item text-xl px-6 py-2 font-semibold bg-amber-200 text-black rounded-lg cursor-pointer hover:bg-amber-400">
                Download CV
            </a>
            <a href="https://github.com/jpiedra181" target="_blank" rel="noopener noreferrer" class="item text-xl px-6 py-2 font-semibold bg-amber-200 text-black rounded-lg cursor-pointer hover:bg-amber-400">
                Github Profile
            </a>
        </section>
    </section>
</header>

<!-- JavaScript file to create the transition for the menu items between mobile and tablet/desktop.  -->
<script src="scripts/menu.js" defer></script>