<header>
    <img src="" alt="">
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Projects</a></li>
        <li><a href="/blog">Skills</a></li>
        <li><a href="/blog">Contact</a></li>
    </ul>
    </nav>
</header