<!-- Hero -->
<main class="flex flex-col items-center gap-10 h-[calc(100vh-theme(height.24))] justify-center xl:flex-row lg:justify-center lg:gap-28 w-full">
    <img src="images/myAvatar.png" alt="" class="w-56 h-56 md:w-80 md:h-80 rounded-full">
    <section class="flex flex-col justify-between items-center gap-10">
        <section class="flex flex-col items-center justify-center gap-4">
            <h1 class="font-bold text-3xl lg:text-4xl 2xl:text-6xl">Hi! I'm Javier Piedra</h1>
            <h2 class="font-semibold text-2xl 2xl:text-4xl">FrontEnd Developer</h2>
        </section>
        <article class="hidden md:grid md:grid-rows-1 md:grid-cols-8 gap-4">
            <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
            <img src="icons/css_icon.svg" alt="" class="w-8 h-8">
            <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
            <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
            <img src="icons/figma.png" alt="" class="w-8 h-8">
            <img src="icons/astro_icon.svg" alt="" class="w-8 h-8">
            <img src="icons/react_icon.svg" alt="" class="w-8 h-8">
            <img src="icons/typescript_icon.svg" alt="" class="w-8 h-8">
        </article>
        <section class="flex flex-col items-center justify-center gap-2">
            <h2 class="font-semibold text-2xl 2xl:text-4xl">👋 Turning ideas into clean, responsive websites</h2> 
            <p class="text-base md:text-lg xl:text-xl"> Let’s build something awesome!</p>
        </section>
        <section class="flex gap-10 xl:gap-14 items-center">
            <a href="#contact" class="font-semibold text-xl xl:text-2xl bg-amber-200 text-black px-12 xl:px-16 py-3 xl:py-4 rounded-lg cursor-pointer hover:bg-amber-400">
                Hire Me
            </a>
        </section>
    </section>        
</main>