<!-- Hero -->
<main class="flex flex-col items-center gap-10 h-[calc(100vh-theme(height.24))] justify-center xl:flex-row lg:justify-center lg:gap-28 w-full">
    <img src="images/myAvatar.png" alt="" class="w-40 h-40 md:w-80 md:h-80 rounded-full">
    <section class="flex flex-col justify-between items-center gap-4 md:gap-8">
        <section class="flex flex-col items-center justify-center gap-2 md:gap-4">
            <h1 class="font-bold text-3xl lg:text-4xl 2xl:text-6xl" data-en="Hi! I'm Javier Piedra" data-es="Javier Piedra"></h1>
            <h2 class="font-semibold text-2xl 2xl:text-4xl" data-en="FrontEnd Developer" data-es="Desarrollador Web"></h2>
        </section>
        <section class="flex flex-col items-center justify-center gap-2">
            <h2 class="font-semibold text-xl md:text-2xl 2xl:text-4xl text-center" data-en="👋 Turning ideas into clean, responsive websites" data-es="👋 Convirtiendo ideas en sitios web limpios, rápidos y responsivos"></h2> 
            <p class="hidden md:flex md:text-lg xl:text-xl" data-en="I build fast, user-friendly interfaces that make brands stand out — right from the heart of Madrid." data-es="Construyo interfaces rápidas y fáciles de usar que hacen que las marcas destaquen, directamente desde el corazón de Madrid."></p>
            <p class="hidden md:flex md:text-lg xl:text-xl" data-en="Let’s build something awesome!" data-es="¡Construyamos algo increible!"></p>
        </section>
        <section class="flex gap-10 xl:gap-14 items-center">
            <a href="#contact" class="font-semibold text-xl xl:text-2xl bg-amber-200 text-black px-12 xl:px-16 py-3 xl:py-4 rounded-lg cursor-pointer hover:bg-amber-400" data-en="Hire Me" data-es="Contratar">
            </a>
        </section>
    </section>        
</main>

<!-- Javascript file to change the language of the content -->
<script src="scripts/heroLang.js" defer></script>