<!-- Projects -->
<section class="w-full sm:px-20 md:px-24 lg:px-30 2xl:px-40 flex flex-col gap-10 items-center py-20 xl:py-0 relative" id="projects">
    <h2 class="autoTranslate font-semibold text-4xl text-center" data-en="Projects" data-es="Trabajos Realizados"></h2>
    <!-- Projects Section for mobile -->
    <section class="w-full flex flex-col gap-8 md:hidden">
        <!-- Project: Ecommerce with API -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/ecommerce.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">Ecommerce + API</h3>
                <p class="text-base" data-en="I built a simple product page where users can see different items presented dynamically with an API, add them to a shopping cart, and view both the selected products and the total cost." data-es="Tienda online donde los usuarios pueden ver diferentes artículos presentados dinámicamente con una llamada a una API, agregarlos a un carrito de compras y ver los productos seleccionados y el coste total."></p>
                <a href="https://jpiedra181.github.io/ecommerce/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300" data-en="View project" data-es="Ver proyecto"></a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/css_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: ToDo App -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/desktop-image.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl" data-en="Todo App Website" data-es="App Web Lista Tareas"></h3>
                <p class="text-base" data-en="This project aims to imitate a platform in which you can add and remove a list of tasks individually or within a project. You can also collaborate with a team, and see which tasks other people have implemented or are working on." data-es="Este proyecto pretende imitar una plataforma que permite añadir y eliminar tareas individualmente o dentro de un proyecto. También permite colaborar con un equipo y ver qué tareas han implementado o en qué están trabajando otras personas."></p>
                <a href="https://jpiedra181.github.io/todo-app-vite/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300" data-en="View project" data-es="Ver proyecto"></a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/figma.png" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Discord Clone -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/discord_img_hr.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl" data-en="Discord Clone Website" data-es="Clon Discord Web"></h3>
                <p class="text-base" data-en="This is an exercise to demonstrate my skills mainly with Tailwind. It includes some basic functionality, but the main purpose is to work with Flexbox and Grid and understand how different elements behave." data-es="Este es un ejercicio para demostrar mis habilidades, principalmente con Tailwind. Incluye algunas funciones básicas, pero el objetivo principal es trabajar con Flexbox y Grid y comprender el comportamiento de los diferentes elementos."></p>
                <a href="https://jpiedra181.github.io/discord-app-clone/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300" data-en="View project" data-es="Ver proyecto"></a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Foodie App -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/foodie_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">Foodie App</h3>
                <p class="text-base" data-en="As a Frontend Developer I think it is very important to have some knowledge about UI design. This is where Figma comes in. So, I built a prototype from scratch for mobiles. I designed several pages, trying to replicate a real app. I found the outcome very interesting." data-es="Como desarrollador frontend, creo que es muy importante tener nociones acerca del diseño de UI. Aquí es donde entra Figma. Creé un prototipo desde cero para móviles. Diseñé varias páginas intentando replicar una aplicación real. El resultado me pareció muy interesante."></p>
                <a href="http://bit.ly/3XWkQ75" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300" data-en="View project" data-es="Ver proyecto"></a>
                <article class="flex gap-4">
                    <img src="icons/figma.png" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Blog -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/blog_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl" data-en="Travel Blog" data-es="Blog de Viajes"></h3>
                <p class="text-base" data-en="In this case I have designed a travel blog. It contains several pages with information, images and links with the purposes of understanding how paths work, and see how can I manipulate the template that Astro provides you." data-es="En este caso, he diseñado un blog de viajes. Contiene varias páginas con información, imágenes y enlaces para comprender cómo funcionan los caminos y ver cómo puedo usar la plantilla que Astro proporciona."></p>
                <a href="https://jpiedra181.github.io/blog_travel/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300" data-en="View project" data-es="Ver proyecto"></a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/css_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/astro_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Quizz Game -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/quizz_game_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl" data-en="Quizz Game" data-es="Juego Cuestionario"></h3>
                <p class="text-base" data-en="Let's play!!! Do you want to know if you are as clever as you think you are? Test your knowledge in different areas such as History, Science, Literature and more. Each time you try it, the programme will give different questions." data-es="¡Juguemos! ¿Quieres saber si eres tan inteligente como crees que eres? Pon a prueba tu conocimiento en diferentes áreas como Historia, Ciencia, Literatura y mucho más. Tendrás un cuestionario con 10 preguntas y cada intento las preguntas serán diferentes."></p>
                <a href="https://jpiedra181.github.io/quiz/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300" data-en="View project" data-es="Ver proyecto"></a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/css_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/astro_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
    </section>
    <!-- Project Section for Tablet and Desktop -->
    <section class="hidden md:grid md:gap-3 md:gridImages max-w-[900px]">
        <button class="cursor-pointer one project todo overflow-hidden border-2 border-white hover:border-amber-400">
            <img src="images/mobile-image.png" alt="" class="one transition-transform duration-300 ease-in-out hover:scale-110">
        </button>
        <button class="cursor-pointer two project ecommerce overflow-hidden border-2 border-white hover:border-amber-400">
            <img src="images/ecommerce.png" alt="" class="two transition-transform duration-300 ease-in-out hover:scale-110">
        </button>
        <button class="cursor-pointer three project discord overflow-hidden border-2 border-white hover:border-amber-400">
            <img src="images/discord_img.png" alt="" class="three transition-transform duration-300 ease-in-out hover:scale-110">
        </button>
        <button class="cursor-pointer four project foodie overflow-hidden border-2 border-white hover:border-amber-400">
            <img src="images/foodie_thumbnail.png" alt="" class="four transition-transform duration-300 ease-in-out hover:scale-110">
        </button>
        <button class="cursor-pointer five project blog overflow-hidden border-2 border-white hover:border-amber-400">
            <img src="images/blog_thumbnail.png" alt="" class="five transition-transform duration-300 ease-in-out hover:scale-110">
        </button>
        <button class="cursor-pointer six project game overflow-hidden border-2 border-white hover:border-amber-400">
            <img src="images/quizz_game_thumbnail.png" alt="" class="six transition-transform duration-300 ease-in-out hover:scale-110">
        </button>
    </section>
    <!-- Modal window -->
    <section class=" modal fixed inset-0 bg-black/40 backdrop-blur-sm hidden z-50 justify-center items-center p-20">
        <div class="projectInfo max-w-[800px] bg-amber-200 rounded-4xl flex flex-col gap-8 p-16">
            <button class="close cursor-pointer font-bold text-right text-3xl text-[#010114]">✖︎</button>
            <div class="flex gap-8">
                <img src="" alt="" class="projectImage w-80 rounded-2xl object-cover object-center">
                <div class="flex flex-col justify-between">
                    <div class="flex flex-col gap-4">
                        <h3 class="title font-bold text-2xl text-[#010114]"></h3>
                        <p class="description text-[#010114]"></p>
                        <ul class="tech flex gap-4"></ul>
                    </div>
                    <a href="" class="link px-12 py-2 rounded-2xl bg-[#010114] text-amber-200 hover:text-amber-300 text-center">View Project</a>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Javascript file to implement some functionality with the projects in desktop and tablet -->
<script src="scripts/projects.js" defer></script>

<style>
    .gridImages {
        padding: 40px 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(4, minmax(50px, 1fr));
        grid-template-rows: repeat(4, 200px);
        gap: 1rem;
        width: 100%;
        max-width: 950px;
    }
    .one {
        object-fit: cover;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
    .two {
        object-fit: cover;
        grid-column: 3 / 5;
        grid-row: 1;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
    .three {
        object-fit: cover;
        grid-column: 3 / 5;
        grid-row: 3 / 5;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
    .four {
        object-fit: cover;
        grid-column: 3 / 5;
        grid-row: 2;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
    .five {
        object-fit: cover;
        grid-column: 1 / 3;
        grid-row: 3;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
    .six {
        object-fit: cover;
        grid-column: 1 / 3;
        grid-row: 4;
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }



    /* .autoTranslate{
        animation: autoTranslateAnimation both;
        animation-timeline: view(10% 0%);
    }

    @keyframes autoTranslateAnimation{
        from{
            opacity: 0;
            transform: translateY(50px) scale(0.3);
        } to{
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    } */
</style>