<!-- Projects -->
<section class="w-full sm:px-20 md:px-24 lg:px-30 2xl:px-40 flex flex-col gap-10 items-center py-20 xl:py-0" id="projects">
    <h2 class="autoTranslate font-semibold text-4xl">Projects</h2>
    <section class="w-full flex flex-col gap-8">
        <!-- Project: Ecommerce with API -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/ecommerce_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">Ecommerce + API</h3>
                <p class="text-base">I built a simple product page where users can see different items presented dynamically with an API, add them to a shopping cart, and view both the selected products and the total cost.</p>
                <a href="https://jpiedra181.github.io/ecommerce/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300">View project</a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/css_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: ToDo App -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/todo_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">ToDo App Website</h3>
                <p class="text-base">This project aims to imitate a platform in which you can add and remove a list of tasks individually or within a project. You can also collaborate with a team, and see which tasks other people have implemented or are working on.</p>
                <a href="https://jpiedra181.github.io/todo-app-vite/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300">View project</a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/figma.png" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Discord Clone -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/discord_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">Discord Clone Website</h3>
                <p class="text-base">This is an exercise to demonstrate my skills mainly with Tailwind. It includes some basic functionality, but the main purpose is to work with Flexbox and Grid and understand how different elements behave.</p>
                <a href="https://jpiedra181.github.io/discord-app-clone/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300">View project</a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/javascript_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/tailwindcss_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Foodie App -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/foodie_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">Foodie App</h3>
                <p class="text-base">As a Frontend Developer I think it is very important to have some knowledge about UI design. This is where Figma comes in. So, I built a prototype from scratch for mobiles. I designed several pages, trying to replicate a real app. I found the outcome very interesting.</p>
                <a href="http://bit.ly/3XWkQ75" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300">View project</a>
                <article class="flex gap-4">
                    <img src="icons/figma.png" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
        <!-- Project: Blog -->
        <article class="autoTranslate border-2 w-full rounded-2xl p-4 md:p-10 2xl:px-30 flex flex-col lg:flex-row gap-6 2xl:gap-12 justify-between shadow-md shadow-amber-100">
            <img src="images/blog_thumbnail.png" alt="" class="w-full lg:w-80 rounded-lg object-cover object-center">
            <section class="flex flex-col gap-4 w-full justify-between">
                <h3 class="font-semibold text-2xl">Travel Blog</h3>
                <p class="text-base">In this case I have designed a travel blog. It contains several pages with information, images and links with the purposes of understanding how paths work, and see how can I manipulate the template that Astro provides you.</p>
                <a href="https://jpiedra181.github.io/blog_travel/" target="_blank" rel="noopener noreferrer" class="text-amber-200 hover:text-amber-300">View project</a>
                <article class="flex gap-4">
                    <img src="icons/html_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/css_icon.svg" alt="" class="w-8 h-8">
                    <img src="icons/astro_icon.svg" alt="" class="w-8 h-8">
                </article>
            </section>
        </article>
    </section>
</section>

<style>
    .autoTranslate{
        animation: autoTranslateAnimation both;
        animation-timeline: view(25% 10%);
    }

    @keyframes autoTranslateAnimation{
        from{
            opacity: 0;
            transform: translateX(200px) scale(0.3);
        } to{
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
</style>