<!-- Skills -->
<section class="w-full pt-30 sm:px-20 md:px-24 lg:px-30 2xl:px-40 flex flex-col items-center gap-10" id="skills">
    <h2 class="font-semibold text-4xl">Skills</h2>
    <ul class="w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 lg:justify-between gap-5">
        <li class="flex justify-center items-center">
            <img src="icons/html_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/css_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/tailwindcss_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/javascript_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/figma_icon.svg" alt="" class="w-20">
        </li>
        <li class="flex flex-col items-center">
            <img src="icons/react_icon.svg" alt="" class="autoRotate w-20">
        </li>
        <li class="flex flex-col items-center">
            <img src="icons/typescript_icon.svg" alt="" class="w-24">
        </li>
    </ul>
</section>

<style>
    .autoRotate{
        animation: autoRotateAnimation;
        animation-timeline: view();
    }
    @keyframes autoRotateAnimation{
        from{
            transform: rotate(0deg);
        } to{
            transform: rotate(360deg);
        }
    }
</style>