<!-- Skills -->
<section class="marquee whitespace-nowrap w-full overflow-hidden pt-30 sm:px-20 md:px-24 lg:px-30 2xl:px-40 flex flex-col items-center gap-10" id="skills">
    <h2 class="font-semibold text-4xl">Skills</h2>
    <ul class="track w-full flex gap-8">
        <li class="flex justify-center items-center">
            <img src="icons/html_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/css_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/tailwindcss_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/javascript_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/figma_icon.svg" alt="" class="w-20">
        </li>
        <li class="flex flex-col items-center">
            <img src="icons/react_icon.svg" alt="" class="w-20">
        </li>
        <li class="flex flex-col items-center">
            <img src="icons/typescript_icon.svg" alt="" class="w-24">
        </li>

        <li class="flex justify-center items-center">
            <img src="icons/html_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/css_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/tailwindcss_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/javascript_icon.svg" alt="" class="w-24">
        </li>
        <li class="flex justify-center items-center">
            <img src="icons/figma_icon.svg" alt="" class="w-20">
        </li>
        <li class="flex flex-col items-center">
            <img src="icons/react_icon.svg" alt="" class="w-20">
        </li>
        <li class="flex flex-col items-center">
            <img src="icons/typescript_icon.svg" alt="" class="w-24">
        </li>
    </ul>
</section>

<style>
    .track {
        display: inline-block;
        animation: scroll-left 20s linear infinite;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    
</style>